cat << 'EOF' > .gitignore
# Fichiers temporaires Vivado
*.jou 
*.log
*.str
.Xil/
hd_visual

# Caches et builds Vivado
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/

# Fichiers temporaires Vitis
.metadata/
*.ide/

# Fichiers systeme
.DS_Store
Thumbs.db
